<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'cameras/style.css' %}">
    <title>Eagle Eye Networks Skill Test</title>
  </head>
  <body>
    <h2>Grabbing a few random cameras</h2>
    {% if camera_list %}
    <div class="container-fluid">
        <div class="row">
            {% for camera in camera_list %}
                <div class="col-sm-3">
                    <div class="card">
                        <img class="card-img-top" src="{% url 'cameras:preview' camera.1 %}" alt="{{camera.2}}" onerror="this.onerror=null; this.src='{% static 'cameras/no-image.png' %}'; this.alt='no image'"/>
                        <div class="card-body">
                            <h5 class="card-title">{{camera.2}}</h5>
                            <p class="card-text">ID: {{camera.1}}</p>
                            <a href="{% url 'cameras:images' camera.1 %}" class="btn btn-primary">View images</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
        <p>No cameras available.</p>
    {% endif %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>